body{

	background-image:url('../images/1.gif');
	
      
  
}
@font-face {
    font-family:a;
    src: url("../font/a.ttc");
}
h1{
	font-size: 46px;
	font-family:a;
}

button{
	font-family:a;
}
.btn{
	width:150px;
	height:150px;
	transform:translateY(50%);
	margin:2.5px
	color:#DDFF77
}

input {
	width:360px;
	height:40px;
}
.input1{
	width:25px;
	height:25px;
}


