body{
	background-image:url('../images/1.png')
      
  
}
@font-face {
    font-family:a;
    src: url("../font/a.ttc");
}
h1{
	font-family:a;
}
button{
	font-family:a;
}
.btn{
	width:110px;
	height:110px;
	transform:translateY(50%);
	margin:2.5px
	color:#DDFF77
}
input{
	width:280px;
	height:40px;
}

